Xcursor.theme: Catppuccin-Dark-Cursors
Xcursor.size: 48

*background: #1E1E2E
*foreground: #CDD6F4

! Gray
*color0: #313244
*color8: #585B70

! Red
*color1: #F38BA8
*color9: #F38BA8

! Green
*color2: #A6E3A1
*color10: #A6E3A1

! Yellow
*color3: #F9E2AF
*color11:  #F9E2AF

! Blue
*color4: #B4BEFE
*color12: #B4BEFE

! Magenta
*color5: #CBA6F7
*color13: #CBA6F7

! Pink
*color6: #F5C2E7
*color14: #F5C2E7

! Whites
*color7: #A6ADC8
*color15: #CDD6F4
